@page

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="telderi" content="b15c21f11626a9c936ef63933fc3ad8c" />
    <title>AIVA</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header class="header-dark" style="padding-bottom: 0;margin-bottom: 12px;">
        <nav class="navbar navbar-dark navbar-expand-lg d-flex justify-content-center align-items-center align-content-center mx-auto navigation-clean-search">
            <div class="container"><a class="navbar-brand d-flex justify-content-center align-items-center align-content-center mx-auto" href="#">AIVA</a></div>
        </nav>
        <div class="container hero" style="margin-top: 0;padding: 1px;">
            <div class="row" style="margin: 0;">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center" style="font-size: 38px;margin-bottom: 30px;">Кухня с доставкой на дом</h1>
                </div>
            </div>
        </div>
        <div class="btn-group-vertical d-flex justify-content-center align-items-center" role="group">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-secondary" role="button" href="user">Мой профиль</a>
                @if (!ViewBag.IsCook)
                {
                    <a class="btn btn-secondary" role="button" href="cart">Корзина</a>
                }
            }
            else
            {
                <a class="btn btn-secondary" role="button" href="login">Вход</a>
                <a class="btn btn-secondary" role="button" href="signup">Регистрация</a>
            }
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead text-center" style="font-size: 36px;margin-bottom:0px;">Меню</p>
                    <hr>
                </div>
            </div>
        </div>
        @foreach (var kitchen in ViewBag.Menu)
        {
            <div class="container kitchenblock-@kitchen.Key.Id">
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead text-start" style="font-size: 28px;">@kitchen.Key.Name</p>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in kitchen)
                    {
                        <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 16px;">
                            <img class="img-fluid" src="assets/img/products/@item.ImageName" style="margin-bottom: 6px;">
                            <p style="font-size: 20px;margin-bottom: 6px;">@item.Name</p>
                            <p style="font-size: 16px;margin-bottom: 6px;">@item.Description</p>
                            <div class="row" style="margin: 0;">
                                <div class="col" style="margin: -1px;padding: 0;">
                                    <p class="d-flex my-auto" style="font-size: 30px;margin-bottom: 0;text-align: left;font-weight: bold;">₽@item.Price<br /></p>
                                </div>
                                @if (ViewBag.IsAuthorized && !ViewBag.IsCook)
                                {
                                    <div class="col" style="text-align: right;padding: 0;">
                                        <i style="color: var(--bs-body-color);" class="fa fa-cart-plus fs-1" onclick="addToCart(@item.Id, @kitchen.Key.Id)"></i>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <hr>
            </div>
        }
    </section>
    <div class="position-fixed bottom-0 start-50 translate-middle-x p-2" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">AIVA</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Добавлено в корзину.
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var myToastEl = document.getElementById('liveToast')
        var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl)
        var kitchenBlocks = document.querySelectorAll("[class*=kitchenblock]")

        function addToCart(item, kitchenId) {
            $.ajax({
                url: '/api/addtocart',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(item)
            });
            myToast.show();
            var blocksToHide = Array.from(document.querySelectorAll("[class*=kitchenblock]"))
                .filter(x => x.className != ('container kitchenblock-' + kitchenId));
            blocksToHide.forEach(element => element.style.display = 'none');
        }
    </script>
</body>
</html>